<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="provider"/>
    <!-- 注册中心的ip地址 -->
    <dubbo:registry address="zookeeper://192.168.33.106:2181"/>
    <dubbo:protocol name="dubbo" port="20880"/>
    <bean id="userService" class="com.lj.provider.service.impl.UserImpl"/>
    <dubbo:service interface="lj.common.service.UserService" ref="userService"/>
    <!-- 暴露的接口 -->
    <bean id="orderService" class="com.lj.provider.service.impl.OrderImpl"/>
    <dubbo:service interface="lj.common.service.OrderService" ref="orderService"/>
</beans>